@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom CSS Variables */
:root {
  --background: #323e42;
}

body {
  background: var(--background);
  font-family: "DM Sans", Arial, Helvetica, sans-serif;
}
